{% extends 'layouts/base.html' %}

{% block title %} Blog {% endblock %}

{% block css %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/blog_index.css' %}">

{% endblock %}

{% block content %}

<h1>Blog Index</h1>

<form action="{% url 'blog' %}" method="GET">
    <input type="text" name="search" placeholder="Buscar noticia...">
    <input type="submit" value="Buscar">
</form>
<span><a href="{% url 'blog' %}">Ver todos</a> <a href="{% url 'blog_create' %}">Añadir</a></span>
<h2>Noticias</h2>

<div class="noticias-recientes d-flex flex-column">
    <div class="container text-center noticias-contenedor">
        <div class="row">
            {% for new in news %}
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="noticias">  
                        {% if new.image %}
                        {% load static %}
                        <h3>{{ new.title }}</h3>
                        <a href="{% url 'blog_view' id=new.id %}"><img class="overlay" src="{{ new.image.url }}" alt="{{ new.title }}"></a>    
                        <a class="btn_news" href="{% url 'blog_view' id=new.id %}">Ver</a>
                        <a class="btn_news" href="{% url 'blog_edit' id=new.id %}">Editar</a>               
                        <a class="btn_news" href="{% url 'blog_delete' id=new.id %}">Eliminar</a> 
                        {% else %}
                        {% load static %}
                        <h3>{{ new.title }}</h3>
                        <a href="{% url 'blog_view' id=new.id %}"><img class="overlay" src="{% static 'img/adopta.jpg' %}" alt="{{ new.title }}"></a>
                        <a class="btn_news" href="{% url 'blog_view' id=new.id %}">Ver</a>
                        <a class="btn_news" href="{% url 'blog_edit' id=new.id %}">Editar</a>            
                        <a class="btn_news" href="{% url 'blog_delete' id=new.id %}">Eliminar</a> 
                        {% endif %}  
                    </div>
                </div>
            {% endfor %} 
        </div>
    </div>
</div>



{% endblock %}