{% extends 'layouts/base.html' %}


{% block title %} Contacto {% endblock %}


{% block content %}
<h2 style="padding:20px;">Formulario de contacto</h2>
<div class="container justify-content-center d-flex">    
    <form action="{% url 'contact' %}" method="POST">
        {% csrf_token %}
        <table class="table-striped">        
            {{ form.as_table }}        
        </table>
        <input type="submit" class="btn btn-outline-secondary" value="Enviar Formulario">
    </form>
</div>

{% endblock %}